* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: NanumG;
  src: url(./fonts/Nanum_Gothic/NanumGothic-Regular.ttf);
}

@font-face {
  font-family: Dosis;
  src: url(./fonts/Dosis/Dosis-VariableFont_wght.ttf);
}

body {
  background: url(img/fondo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* background-size: 100% 100%; */
}

/* AREA GENERAL */
/* PRIMERO EL HEADER */
.headerStyle {
  width: 100%;
  height: 70px;
  background: rgba(139, 166, 184, 0.8);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

/* SEGUNDO LA SECCION DE LOGO Y SLOGAN */
.imgSlogan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TERCERO EL LOGO POKEMON GO */
.logo {
  width: 20%;
  margin-top: 0.5%;
}

/* CUARTO EL SLOGAN */
.slogan {
  font-size: 20px;
  margin-top: 2%;
  margin-bottom: 3%;
  font-family: Dosis, sans-serif;
}

/* QUINTO LA SECCIÓN DE LOS BOTONES (POSICIONES)*/
.options {
  display: flex;
  justify-content: space-evenly;
  text-align-last: center;
}

/* ********** ESTA FUE LA QUE MODIFIQUÉ PARA EL ESTILO DE BOTONES EN ESCRITORIO ********* */
/* SEXTO EL ESTILO DE LOS BOTONES */
.selectStyle {
  width: 12%;
  height: 60px;
  background: linear-gradient(90deg, #FFCB06 1.35%, #FFFD00 102.81%);
  border-radius: 15px;
  list-style: none;
  font-size: 1rem;
  font-weight: bold;
  font-family: NanumG, sans-serif;
}

/* SEPTIMO LA SECCION DE LOS CARDS (POSICIONES) */

.data {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.data1 {
  margin: 90px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 110px;
}

/* AREA DE LAS TARJEJAS, SUS ESTILOS Y EFECTOS */
/* PRIMERO EL ESTILO DE LA TARJETA CONTENEDORA */
.card {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 40px;
  transform-style: preserve-3d;
  transition: 1.5s;
}

/* SEGUNDO EL EFECTO CUANDO PASE EL MOUSE */
.card:hover {
  transform: rotateY(180deg);
  background-color: #50EA56;
}

/* TERCERO EL ESTILO DE LOS LADOS DE LA TARJETA */
.side {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
}

/* CUARTO EL EFECTO GIRATORIO DE LA TARJETA */
.back {
  transform: rotateY(180deg);
  backface-visibility: inherit;
}

/* QUINTO EL CONTENEDOR DE LOS ELEMENTOS DE LA TARJETA*/
.pokeCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-left: 5px;
  margin-right: 5px; */
}

/* SEXTO LOS ESTILOS DEL NUMERO DEL POKEMON */
.number {
  width: 35px;
  height: 35px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0) 100%), #FBFE50;
  border: 1px solid #554F4F;
  box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
  position: relative;
  top: 20px;
  font-size: 12px;
  padding-top: 9.5px;
  font-family: sans-serif, "Nanum Gothic";
  font-weight: bold;

}

/* SEPTIMO EL FONDO DE LA IMG POKE */
.imgPoke {
  width: 135px;
  height: 135px;
  background: #F2F2F2;
  border-radius: 8px;
}

/* OCTAVO EL TAMAÑO DE LA IMG */
.imgPkm {
  position: relative;
  left: 17px;
  top: 14px;
  width: 100px;
}

/* NOVENO EL NOMBRE DEL POKEMON */
.namePoke {
  text-align: center;
  position: relative;
  bottom: 20px;
  font-size: 12px;
  font-family: sans-serif, "Nanum Gothic";
  font-weight: bold;
}

.footerStyle {
  background: black;
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* MOVÍ PARA SU LUGAR EL CONTENEDOR DE LOS ICONOS DE RRSS LUEGO QUE ACEPTES EL CAMBIO BORRAS EL COMENTARIO PLEASE  */
.rrss {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.rrssLogo {
  color: #FFFFFF;
  font-size: 40px;
}

.GeneralInformation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.GeneralInformation>a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  font-family: Dosis, sans-serif;
  border-right: 2px solid;
  padding: 6px 20px 6px;
}

.GeneralInformation>a:last-child {
  border: none;
}

.authors {
  font-size: 20px;
  color: #FFFFFF;
  font-family: Dosis, sans-serif;
}

.container {
  width: 135px;
  height: 135px;
  border-radius: 8px;
  background: linear-gradient(180deg, #6A81F8 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #61CEE5 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #000000 0%, rgba(255, 255, 255, 0) 100%), #50EA56;
  border: 1px solid #554F4F;
  box-sizing: border-box;
  text-align: center;
}

.typeTitle {
  font-family: sans-serif, "Nanum Gothic";
  font-size: 11px;
  position: relative;
  top: 20px;
}

.bold1 {
  font-weight: bold;
}

/* .pokeback {
    position: relative;
}

.backPoke {
    width: 3.5%;
    position: relative;
    left: 480px;
    bottom: 50px;
} */

/* .searchPoke {
  width: 400px;
} */

.inputText {
  width: 200px;
  height: 25px;
  margin-right: 20px;
  margin-left: 10px;
  border-radius: 5px;
}

*::-webkit-input-placeholder {
  font-family: sans-serif, "Nanum Gothic";

}

/* .searching {
  background-color: #fff;
  color: tomato;
  padding: 10px;
  border-radius: 20px;
} */

/* BOTON SCROLL UP */
.buttonUp {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: tomato;
  /* background: linear-gradient(90deg, #FFCB06 1.35%, #FFFD00 102.81%); */
  color: white;
  cursor: pointer;
  outline: none;
  border: 3px solid white;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}

.buttonUp:hover,
.buttonUp:focus {
  background-color: rgb(53, 43, 48);
  color: #fff;
}

.hide {
  display: block;
}

/* AQUÍ AGREGUÉ EL @MEDIA PARA MOVIL */
@media only screen and (max-width:768px) {
  .headerStyle {
    width: 100%;
    height: 50px;
    background: #8BA6B8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    position: fixed;
    z-index: 1;
  }

  .imgSlogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px 0px;
  }

  .searching {
    color: rgb(39, 36, 35);
    margin: 6px;
  }

  .inputText {
    width: 110px;
    height: 25px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #554F4F;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    font-size: 12px;
    margin: 0px 10px 0px 0px;
  }

  ::placeholder {
    font-family: Dosis, sans-serif;
  }

  .logo {
    width: 100px;
    margin-top: 0.5%;
  }

  .slogan {
    font-size: 12px;
    margin-top: 2%;
    margin-bottom: 3%;
    font-family: Dosis, sans-serif;
  }

  .options {
    display: flex;
    justify-content: space-evenly;
    text-align-last: center;
    flex-wrap: wrap;
  }

  .selectStyle {
    width: 90px;
    height: 30px;
    background: linear-gradient(90deg, #FFCB06 1.35%, #FFFD00 102.81%);
    border-radius: 15px;
    list-style: none;
    font-size: 11px;
    font-weight: bold;
    font-family: NanumG, sans-serif;
    margin: 8px;
  }

  .footerStyle {
    background: black;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  /* MOVÍ PARA SU LUGAR EL CONTENEDOR DE LOS ICONOS DE RRSS LUEGO QUE ACEPTES EL CAMBIO BORRAS EL COMENTARIO PLEASE */
  .rrss {
    width: 70%;
    display: flex;
    justify-content: space-between;
  }

  .rrssLogo {
    color: #FFFFFF;
    font-size: 30px;
  }

  .GeneralInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .GeneralInformation>a {
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    font-family: Dosis, sans-serif;
    border: none;
    padding: 0;
  }

  .authors {
    font-size: 12px;
    color: #FFFFFF;
    font-family: Dosis, sans-serif;
  }


}
