* {
  margin: 0;
}

body {
  background-image: url(./img/pkmgo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

header {
  width: 100%;
  background-color: #378B7D;
  background: linear-gradient(to right, #639d25, #427768);
}

#btnMenu {
  display: none;
}

header label {
  display: none;
  width: 30px;
  padding: 10px;
  border-right: 1px solid #fff;
  color: #fff;
}

header label:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
}

.menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
}

.menu li {
  border-right: 1PX SOLID #fff;
}

.menu li:hover {
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.menu li span {
  display: block;
  padding: 20px;
  color: #fff;
}

.logoSlogan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoSlogan img {
  width: 25%;
  margin: 4% 0% 0%;
}

.logoSlogan h1 {
  /* font-size: 12px; */
  margin: 4% 0%;
}





.footerStyle {
  background-color: #378B7D;
  background: linear-gradient(to right, #639d25, #427768);
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.rrss {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.rrssLogo {
  color: #FFFFFF;
  font-size: 30px;
}

.GeneralInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GeneralInformation>a {
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  font-family: Dosis, sans-serif;
}

.authors {
  font-size: 12px;
  color: #FFFFFF;
  font-family: Dosis, sans-serif;
}

@media (max-width: 768px) {
  header label {
    display: block;
  }

  .menu {
    position: absolute;
    background-color: #378B7D;
    background: linear-gradient(to right, #639d25, #427768);
    width: 70%;
    margin-left: -70%;
    transition: all 0.5s;
  }

  .menu ul {
    flex-direction: column;
  }

  .menu li {
    border-top: 1px solid #fff;
  }

  #btnMenu:checked~.menu {
    margin: 0;
  }

  .logoSlogan h1 {
    font-size: 12px;
  }



}
